// Fonts 
$color: rgb(random($limit: 255), random($limit: 255), random($limit: 255));
$headings: 1;

@mixin typography {
    color: $color;
    font-size: 14px;
    font-weight: 2px;
    text-align: left;
    font-kerning: auto;
    font-family: sans-serif;
    text-align-last: auto;
    text-transform: capitalize;
    text-orientation: sideways;
    font-stretch: semi-expanded;
    text-underline-position: above;
    font-variant-east-asian: simplified;
}

@for $i from 6 through $headings {
    $math: (75/$i);
    h#{$i}{
        @include typography;
        font-style: oblique;
        color: invert($color);
        font-size: 14px + $math;
        font-weight: 2px + $math;
        text-decoration: overline;
        text-decoration-color: invert($color) + #a5a5a5 + ($math*2);
    }
}

// paragraph
p {
    @include typography;
    letter-spacing: inherit;
}

// list type
ol {
    @include typography;
    list-style-type: upper-roman;
    font-size: larger;
}

ul {
    @include typography;
    list-style-type: circle;
    font-size: x-large;
}

// strong/bold
strong {
    @include typography;
    font-weight: bolder;
    font-size: inherit + 2px;
}

// emphasis type
em {
    @include typography;
    font-style: italic;
    font-family: "Franklin Gothic Medium";
    font-size: inherit + 2px;
    text-decoration: underline;
}

// code 
code {
    @include typography;
    font-family: 'Courier New', Courier, monospace;
    color: $color + (white - #bb66bb);
    background-color: $color - #a5a5a5;
    display: inline-block;
    padding: 1em;
}

// abbriviation
abbr {
    position: relative;
}

abbr:hover {
    text-decoration: none;
    color: $color - #7e7e7e;
}

// links
a {
    @include typography;
    text-decoration: none;
    color: $color - #7e7e7e;
}

a:hover {
    text-decoration: double;
    color: $color + (white - #bb66bb);
}