// @import "./templates/partials/components";
// @import "./templates/fonts";
// @import "./templates/forms";

/* Components */
$color: rgb(random($limit: 255), random($limit: 255), random($limit: 255));

// add tab title
// html

body {
    &.light-mode {
        $color: black;
        color: $color;
        background-color: white;
    }

    &.lighter-mode {
        color: $color - #7b7b7b;
        background-color: $color + #7b7b7b;
    }

    &.darker-mode {
        color: $color + #7b7b7b;
        background-color: $color - #7b7b7b;
    }

    &.dark-mode {
        $color: white;
        color: $color;
        background-color: black;
    }
}

// add navbar
// add main
// add section

.flex {
    display: flex;
    flex: auto;
    margin: auto;
    justify-content: space-evenly;
}

// add footer

/* Fonts */
@mixin typography {
    color: $color;
    font-size: 14px;
    font-weight: 2px;
    text-align: left;
    font-kerning: auto;
    font-family: sans-serif;
    text-align-last: auto;
    text-transform: capitalize;
    text-orientation: sideways;
    font-stretch: semi-expanded;
    text-underline-position: above;
    font-variant-east-asian: simplified;
}

// headings
$headings: 1;

@for $i from 6 through $headings {
    $math: (75/$i);

    h#{$i} {
        @include typography;
        font-style: oblique;
        color: invert($color);
        font-size: 14px + $math;
        font-weight: 2px + $math;
        text-decoration: overline;
        text-decoration-color: invert($color) + #a5a5a5 + ($math*2);

        &.title {
            font-family: 'Franklin Gothic Medium';
        }
    }
}

// paragraph
p {
    @include typography;
    letter-spacing: inherit;
}

// strong/bold
strong {
    @include typography;
    font-weight: bolder;
}

// emphasis type
em {
    @include typography;
    font-style: italic;
    font-family: "Franklin Gothic Medium";
    text-decoration: underline;
}

// list type
ol {
    @include typography;
    list-style-type: upper-roman;
    font-size: larger;
}

ul {
    @include typography;
    list-style-type: circle;
    font-size: x-large;
}

// abbriviation
abbr {
    position: relative;
}

abbr:hover {
    text-decoration: none;
    color: $color - #7e7e7e;
}

// links
a {
    @include typography;
    text-decoration: none;
    color: $color - #7e7e7e;
}

a:hover {
    text-decoration: double;
    color: $color + (white - #bb66bb);
}

// code 
code {
    @include typography;
    font-family: 'Courier New', Courier, monospace;
    color: $color + (white - #bb66bb);
    background-color: $color - #a5a5a5;
    display: inline-block;
    padding: 1em;
}

/* Forms */
form {
    padding: 1rem;
    align-items: center;
    border: 4px solid black;
    color: invert($color) - #cccccc;
    background-color: $color + #cccccc;
}

button {
    @include typography;
    border-width: 3px;
    border-color: cyan;
    color: invert($color);
    background-color: $color + blue;
    padding: 1em;

    &.danger {
        border-color: lightcoral;
        background-color: $color + red;
    }

    &.warning {
        border-color: lightgoldenrodyellow;
        background-color: $color + rgb(150, 150, 0);
    }

    &.success {
        border-color: lightgreen;
        background-color: $color + green;
    }
    // secondary, info, light, and dark
}

@mixin type {
    height: 32px;
    width: 25%;
    position: relative;
    display: flex;
    padding: 1em;
    flex-direction: column;
    border: 2px solid black;
    border-radius: 25px;
    outline: none !important;
}

input {
    @include type;

    // &[type=text] {

    // }

    // &[type=email] {

    // }

    // &[type=password] {

    // }

    // &[type=date] {

    // }

    // &[type=time] {

    // }

    // &[type=month] {

    // }

    // &[type=week] {

    // }

    // &[type=datetime-local] {

    // }

    &[type=color] {
        width: 37px;
        height: 35px;
        border: none;
        border-radius: 50%;
        background: none;
        padding: 0;
    }

    &[type=color]::-webkit-color-swatch-wrapper {
        padding: 0;
    }

    &[type=color]::-webkit-color-swatch {
        border: 2px solid #ddd;
        border-radius: 50%;
    }

    &[type=file] {
        border: none;
    }

    &[type=range] {
        border: none;
        padding: 0;
    }

    &[type=search] {
        background-image: url('../assests/icons/search.png');
        background-position: 10px;
        background-size: 18px;
        background-repeat: no-repeat;
        padding-left: 35px;
        transition: width 0.4s ease-in-out;
    }

    &[type=search]:focus {
        width: 100%;
    }

    // &[type=number] {

    // }

    // &[type=url] {

    // }

    &:focus {
        border-color: invert($color);
    }
}

textarea {
    @include type;
    width: 50%;
    height: 25%;
}

textarea:focus {
    border-color: invert($color);
}

$version: (
    1: #2196F3,
    2: #00C356,
    3: #cd042c,
    // 4: #b52eb5,
    // 5: #baa00e,
);

label {

    @each $version,
    $value in $version {

        // Switch
        &.switch-v#{$version} {
            position: relative;
            display: inline-block;
            width: 60px;
            height: 34px;
            outline: none !important;

            input {
                visibility: hidden;
            }

            div,
            span {
                position: absolute;
                cursor: pointer;
                top: 0;
                left: 0;
                right: 0;
                bottom: 0;
                color: invert($color);
                border: 1px solid black;
                background-color: #ccc - $value;
                border-radius: 34px;
                transition: 0.4s;
            }

            div:hover,
            span:hover {
                border: 1px solid invert($color);
            }

            div:before,
            span:before {
                position: absolute;
                content: "";
                height: 26px;
                width: 26px;
                left: 4px;
                bottom: 4px;
                background-color: white - $value;
                border-radius: 50%;
                transition: 0.4s;
            }

            input:checked+div,
            input:checked+span {
                background-color: $value;
            }

            input:checked+div:before,
            input:checked+span:before {
                transform: translateX(26px);
            }
        }

        // Checkbox
        &.checkbox-v#{$version} {
            position: relative;
            display: inline-block;
            color: white;
            font-size: 22px;
            width: 34px;
            height: 34px;
            outline: none !important;

            input {
                visibility: hidden;
            }

            div,
            span {
                position: absolute;
                cursor: pointer;
                top: 0;
                left: 0;
                right: 0;
                bottom: 0;
                border: 1px solid black;
                background-color: #ccc - $value;
                transition: 0.4s;
            }

            div:hover,
            span:hover {
                border: 1px solid invert($color);
            }

            input:checked~div,
            input:checked~span {
                background-color: $value;
            }

            div:after,
            span:after {
                content: "";
                position: absolute;
            }

            input:checked~div:after,
            input:checked~span:after {
                @if $version==3 {
                    display: block;
                    left: 10px;
                    top: 5px;
                    content: "X";
                }

                @else {
                    display: block;
                    left: 10px;
                    top: 5px;
                    /* text */
                    // content: "√";
                    /* hand made */
                    width: 7px;
                    height: 15px;
                    border-right: 4px solid white;
                    border-bottom: 4px solid white;
                    transform: rotate(45deg);
                    /* icon */
                    // background-image: url(../assests/icons/check.png);
                    // background-repeat: no-repeat;
                    // background-size: 20px;
                }
            }
        }

        // Radio
        &.radio-v#{$version} {
            display: block;
            position: relative;
            font-size: 22px;

            input {
                visibility: hidden;
            }

            div,
            span {
                position: absolute;
                top: 0;
                left: 0;
                height: 25px;
                width: 25px;
                background-color: #eee;
                border: 1px solid black;
                border-radius: 50%;
            }

            div:hover,
            span:hover {
                border: 1px solid invert($color);
            }

            input:checked~div,
            input:checked~span {
                background-color: invert(white - $value);
            }

            div:after,
            span:after {
                content: "";
                position: absolute;
                display: none;
            } 

            input:checked~div:after,
            input:checked~span:after {
                display: block;
            }

            & div:after,
            & span:after {
                top: 3px;
                left: 3.45px;
                width: 18px;
                height: 18px;
                border-radius: 50%;
                background: invert(#ccc - $value);
            }
        }
    }
}

/* Misc. */